version: '2.1'

services:
  cassandra:
    build: cassandra
    env_file:
      - cassandra/cassandra.env
    ports:
    #  - "7199:7199" # JMX
      - "7000:7000" # cluster communication
      - "7001:7001" # cluster communication (SSL)
      - "9042:9042" # native protocol clients
    #  - "9160:9160" # thrift clients
    volumes:
      - ./cassandra/config/collectd.cassandra.conf:/etc/collectd/collectd.conf
#      - ./cassandra/config/graphite.cassandra.yaml:/etc/cassandra/graphite.yaml
#      - ./cassandra/config/filebeat.yml:/etc/filebeat/filebeat.yml
      - ./cassandra/config/prometheus.yml:/prometheus/prometheus.yml
      - ./data/cassandra:/var/lib/cassandra

  cqlsh:
    image: cassandra:3.11
    entrypoint: cqlsh cassandra
    volumes:
      - ./cassandra/schema.cql:/schema.cql

  nodetool:
    image: cassandra:3.11
    entrypoint: nodetool -h cassandra -u cassandraUser -pw cassandraPass
    command: help